.zeneditor,
.jstEditor {
  position: relative;
}

html.zen {
  overflow: hidden;
}

.zeneditor.zen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  text-shadow: none;
  z-index: 1000;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.zeneditor textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.zeneditor.zen textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  background: #fff;
  color: #999999;
  font-size: 18px;
  line-height: 1.6em;
  resize: none;
  -moz-transition: color 0.15s ease-in 0;
  -webkit-transition: color 0.15s ease-in 0;
  transition: color 0.15s ease-in 0;
  box-shadow: none;
  max-width: 1000px;
  outline: none;
  overflow: auto;
}

.zeneditor.zen textarea:active, .zeneditor.zen textarea:hover,  .zeneditor.zen textarea:focus {
  color: #333333;
}

.jstb_zenedit_controls {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 24px;
  display: block;
}

.zen .jstb_zenedit_controls {
  width: 48px;
}
.zeneditor.zen.dark-theme .jstb_zenedit_controls {
  background-color: rgba(29,31,33,0.3);
}

button.jstb_zenedit {
  display: block;
  background: none;
  width: 24px;
  height: 24px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

button.jstb_zenedit:hover {
  opacity: 1;
}

.zen button.jstb_zenedit {
  width: 48px;
  height: 48px;
}

button.jstb_zenedit.toggle {
  background-image: url(../images/ic_fullscreen_black_48dp_1x.png);
}
.zen button.jstb_zenedit.toggle {
  background-image: url(../images/ic_fullscreen_exit_black_48dp_1x.png);
}

button.jstb_zenedit.theme {
  background-image: url(../images/ic_invert_colors_black_48dp_1x.png);
  display: none;
}
button.jstb_zenedit.preview {
  background-image: url(../images/ic_description_black_48dp_1x.png);
  display: none;
}
button.jstb_zenedit.help {
  background-image: url(../images/ic_help_outline_black_48dp_1x.png);
  display: none;
}
button.jstb_zenedit.save {
  background-image: url(../images/ic_save_black_48dp_1x.png);
  display: none;
}
button.jstb_zenedit.back {
  background-image: url(../images/ic_cancel_black_48dp_1x.png);
  display: none;
}

.zen .dark-theme button.jstb_zenedit.toggle {
  background-image: url(../images/ic_fullscreen_exit_white_48dp_1x.png);
}
.dark-theme button.jstb_zenedit.theme {
  background-image: url(../images/ic_invert_colors_white_48dp_1x.png);
}
.dark-theme button.jstb_zenedit.back {
  background-image: url(../images/ic_cancel_white_48dp_1x.png);
}
.dark-theme button.jstb_zenedit.preview {
  background-image: url(../images/ic_description_white_48dp_1x.png);
}
.dark-theme button.jstb_zenedit.help {
  background-image: url(../images/ic_help_outline_white_48dp_1x.png);
}
.dark-theme button.jstb_zenedit.save {
  background-image: url(../images/ic_save_white_48dp_1x.png);
}

.zeneditor.zen button.jstb_zenedit.toggle,
.zeneditor.zen button.jstb_zenedit.theme,
.zeneditor.zen button.jstb_zenedit.back,
.zeneditor.zen button.jstb_zenedit.preview,
.zeneditor.zen button.jstb_zenedit.help,
.zeneditor.zen button.jstb_zenedit.save {
  display: block;
}

.zeneditor.zen.dark-theme , .zeneditor.zen.dark-theme textarea {
  background: #1d1f21;
}

.zeneditor.zen.dark-theme textarea {
  color: #a4b1b1;
}

.zeneditor.zen.dark-theme textarea:hover, .zeneditor.zen.dark-theme textarea:active, .zeneditor.zen.dark-theme textarea:focus {
  color: #dbe0e0;
}

.zeneditor #preview {
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background: #f6f6f6;
  resize: none;
  -moz-transition: color 0.15s ease-in 0;
  -webkit-transition: color 0.15s ease-in 0;
  transition: color 0.15s ease-in 0;
  box-shadow: none;
  max-width: 1000px;
  outline: none;
  overflow: auto;
  border: 1px solid #e4e4e4;
}
.zeneditor #preview p {
  padding: 0;
}
.zeneditor #preview fieldset {
  background: none;
  border-width: 0px;
  border-top-width: 1px;
}

fieldset.preview {
  min-width: 0;
}
